<section>
  <div class="example-label">
    <div class="example-button-row">
      <div mat-card-avatar class="header-image">
        <td> <img [src]="'assets/images/logo.png'" alt="image" height="60px" width="60px"> </td>
      </div>
      <td> <button mat-stroked-button class="botões" color="primary" [routerLink]="['/']">Pagina Inicial</button></td>
      <td> <button mat-stroked-button  class="botões" color="primary">Sobre nós</button> </td>
      <td><button mat-stroked-button  class="botões" color="primary">Para você</button></td>
      <td><button mat-stroked-button  class="botões" color="primary" [routerLink]="['/listarusuarios']">Usuários Cadastrados</button></td>
      <td><button class="login" mat-raised-button color="primary" [routerLink]="['/cadastrar']" >Cadastrar</button></td>

    </div>

  </div>

</section>
