.example-label {
  background-color: black;
  align-items: center;
}

.example-button-row {
  display: inline-flex;
}

.example-button-row .mat-button-base {
  margin-right: 13px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.example-header-image {
  display: table-cell;
  background-size: cover;
}

.login{
  margin-left: 800px;
  width: 100px;
  height: 30px;
}

.background{
  background-size: cover;
}

.botões{
  display: flex;
  align-items: center;
}
